---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import QuickAccess from '../components/QuickAccess.astro';
import ProgramsGrid from '../components/ProgramsGrid.astro';
import ImpactCounters from '../components/ImpactCounters.astro';
import NewsStrip from '../components/NewsStrip.astro';
import Footer from '../components/Footer.astro';
import SectionDivider from '../components/SectionDivider.astro';
---

<BaseLayout title="IHARC - Integrated Homelessness & Addictions Response Centre">
  <Header />
  
  <main id="main" class="flex-1">
    <Hero />
    <SectionDivider type="angled" />
    <QuickAccess />
    <SectionDivider type="subtle" />
    <ProgramsGrid />
    <SectionDivider type="red-line" />
    <ImpactCounters />
    <SectionDivider type="subtle" />
    <NewsStrip />
  </main>
  
  <Footer />
</BaseLayout>